<div>
    <p>{{ headermessage }}</p>

    <div class="selectmultipleWidget">
        <div class="selectmultipleBox">
            <div class="selectedAppointmentTypesList" ng-repeat="appointmentTypeSelected in selectedAppointmentTypes">
                <span>{{ appointmentTypeSelected.display }}</span>
                <i class="icon-remove small add-on"  ng-click="removeAppointmentType(appointmentTypeSelected)"></i>
            </div>

            <div class="inline-block multiselectTypeahead">
                <input id={{senderId}} class="selectmultipleInput"
                       type="text" ng-model="appointmentType" typeahead-on-select="addAppointmentType(appointmentType)"
                       typeahead="appointmentType as appointmentType.display for appointmentType in getAppointmentTypes($viewValue) | filter: $viewValue"
                       typeahead-min-length='0'
                       placeholder={{placeholderMessage}}>

            </div>
        </div>
        <div class="inline-box viewAllAppointmentTypes">
            <a ng-click="displayViewAll()">{{ viewall }}</a>
        </div>
    </div>

    <!-- modal for showing full list of appointment types -->
    <div id="allAppointmentTypesModal" class="dialog" ng-show="showAllAppointmentTypesModal">
        <div class="dialog-header">
            <h3>{{ headermessage }}</h3>
        </div>
        <div class="dialog-content">
            <div ng-repeat="type in allAppointmentTypes">
                <a ng-click="addAppointmentType(type)">{{ type.display }}</a>
            </div>
            <br/>
            <span class="button confirm" ng-click="closeShowAllAppointmentsModal()"> {{ closemessage }}</span>
        </div>
    </div>

</div>