.date-range-picker-div {
  display: inline-block;
}

.date-range-picker-clear-link {
  font-size: 12px;
  margin-right: 15px;
}

.date-range-picker-div .angular-datepicker .icon-calendar {
  vertical-align: middle;
}

.appoinmentrangepicker{
  border: 1px solid #26104663;
}