.selectedAppointmentTypesList {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #DDD;
  background: #f3f3f3;
  margin-right: 4px;
  margin-bottom: 2px;
}

.viewAllAppointmentTypes {
  font-size: 12px;
  margin-right: 40px;
}

.selectmultipleInput {
  border: 0px;

  &:focus {
   outline: 0px;
  }
}

.selectmultipleBox {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #DDD;
  width: 70%;
}

.displayTypeahead {
  display: block !important;
}

.selectmultipleWidget {
  display: inline-block;
  width: 100%;
}



